<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Your website is the face of your product or service and the first glimpse at your brand offering. Your message needs to be delivered clearly, assuring that you create interest and establish credibility while meeting your business goals and the goals of your users. We design and develop high-end websites that tell the story of your brand!</p>
                <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
